@import "./index.scss";


#about-page{
    padding: 20px;
    .about-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 111px;
        width: 100%;
        border-radius: 10px ;
        overflow: hidden;
        
        filter: brightness(80%);
        img{
            width: 100%;
        }
        
    }

    .about-content{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
               
            }
    @media (min-width:768px){
        .about-banner{
            height: 223px;
        }
            .about-content{
                padding: 0 50px;
               
            }
        }
    
    
}