@import "./index.scss";

.carousel {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel-container {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
  }
  .carousel-images {
    display: flex;
    height: 100%;
  }
  .carousel-image {
    min-width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    img {
      height: 24px;
    }
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }

  @media (min-width: 768px) {
    height: 415px;
    .arrow {
      img {
        height: 48px;
      }
    }
  }
}

.carousel-count {
  display: none;
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  bottom: 40px;

  @media (min-width: 768px) {
    display: block;
  }
}
