@import "./index.scss";

.about-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: $bg-color;
  margin: -10px 0;
  border-top: solid 10px white;
  border-bottom: solid 10px white;

  .about-card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: $primary-color;
    border-radius: 5px;
    z-index: 10;

    h2 {
      color: white;
      font-size: 13px;
      font-weight: 700;
      margin-left: 10px;
    }

    img {
      height: 9px;
      margin-right: 10px;
      transition: all 0.2s ease-in;
    }
  }
  .about-card-content {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    transition: transform 0.3s ease-out;
    div {
      margin: 10px;
    }
  }
  .content {
    max-height: 0;
    &--open {
      animation: open-card 0.2s ease-in forwards;
    }
    &--close {
      animation: close-card 0.3s ease-in forwards;
    }
  }
  @media (min-width: 768px) {
    .about-card-header {
      h2 {
        font-size: 24px;
      }
    }
  }
}

.about-card-btn {
  transform: rotate(180deg);

  &--colapse {
    transform: rotate(0deg);
  }
}

@keyframes open-card {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
    max-height: 100px;
  }
}

@keyframes close-card {
  from {
    max-height: 100px;
  }

  to {
    max-height: 0;
  }
}
